<form (submit)="onSubmit()" [formGroup]="form">
    <label>
        Titre :
        <input [class.invalid]="isControlInvalid('titre')" type="text" name="titre" formControlName="titre">
    </label>
    <p *ngIf="isControlInvalid('titre')">Le titre est invalide</p>
    
    <p *ngIf="hasError('titre', 'required')" [style.color]="'red'">Le titre est requis.</p>
    <p *ngIf="hasError('titre', 'minlength')" [style.color]="'red'">Le titre doit contenir au moins 10 caractères.</p>
    <p *ngIf="hasError('titre', 'maxlength')" [style.color]="'red'">Le titre doit contenir moins de 50 caractères.</p>
    <label>
        Lien :
        <input [class.invalid]="isControlInvalid('postLink')" type="text" name="lien" formControlName="postLink">
    </label>
    <p *ngIf="isControlInvalid('postLink')">Le lien est requis</p>
    <label>
        Image Source :
        <input type="text" name="src" formControlName="imageSrc">
    </label>
    <label>
        Image Alt :
        <input  [class.invalid]="isControlInvalid('imageAlt')" type="text" name="alt" formControlName="imageAlt">
    </label>
    <p *ngIf="isControlInvalid('imageAlt')">La desciption alternative est requise</p>
    <label>
        Description :
        <textarea [class.invalid]="isControlInvalid('description')" name="description" formControlName="description"></textarea>
    </label>
    <p *ngIf="isControlInvalid('description')">La desciption est requise</p>
    <input [disabled]="form.invalid" type="submit" value="Enregister">
</form>
<p>{{jsonValue}}</p>